@import 'variables';

.app {
    background-color: $secondaryColor;
    p {
        font-weight: 200;
        font-family: "Changa",sans-serif;
    }
}

main {
    width: 100%;
    margin: 0 auto;
}

.aside-content {
    color: #FFF;
}

.main-content {
    min-height: 95.3vh;
    max-height: 100%;
    color: #FFF;
    padding-top: 150px;
    overflow-x: hidden;
}

.footer-content {
    width: 100%;
    padding: 10px 0;
    background-color: $footerColor;
    color: rgba(255, 255, 255, 0.7);
}

.btn-primary {
    color: #fff;
    font-weight: 700;
    border: 2px solid $primaryColor !important;
    background-color: transparent;
    transition: all 0.6s;
    &:hover, &:active, &:focus {
        background-color: $primaryColor !important;
        border-color: $secondaryColor;
    }
}

.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    border: 2px solid #6c757d;
    &:hover, :active, :focus {
        background-color: #5a6268;
        border-color: #545b62;
        border: 2px solid #6c757d;
    }
}

.black-overlay {
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 3;
}

.image-background {
    width: 100%;
    text-align: center;
}

.see-aside-buttons {
    top: 1vh;
    color: #FFF;
    font-size: 30px;
    z-index: 3;
}

.see-aside-to-bottom {
    top: 20vh;
}

.left-aside-button {
    left: 15px;
}

.right-aside-button {
    right: 15px;
}

.post-single-container {
    .categories-aside {
        transform: translateX(-150%);
    }
    .races-aside {
        width: 50vw;
        transform: translateX(250%);
    }
}

.categories-aside {
    width: 50vw;
    transform: translateX(-150%);
    left: 0;
}

.races-aside {
    transform: translateX(250%);
    right: 0;
}

.categories-aside, .races-aside {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 2;
    background-color: $secondaryColor;
    padding: 0 2rem;
    transition: 1s all;
}


.see-right-aside {
    transform: translateX(0) !important;
}

.see-left-aside {
    transform: translateX(0) !important;
}

@media(min-width: $desktopBreak) {
    .main{
        max-width: 70%;
    }
    .post-single-container {
        .categories-aside, .races-aside {
            transform: translateX(0);
            background-color: transparent;
            position: relative;
            padding: 0;
        }
        
        .right-aside-button {
            display: none;
        }
    }
    .posts-container .races-aside {
        background-color: transparent;
        position: relative;
        transform: translateX(0);
    }
    .right-aside-button {
        display: none;
    }
}

@media(min-width: $tabletBreak) and (max-width: $beforeDesktopBreak) {
    .main{
        max-width: 100%;
    }
    .categories-aside .aside-content {
        padding-left: 50px;
    }
}
@media(min-width: $tabletBreak) {
    .posts-container .categories-aside {
        background-color: transparent;
        position: relative;
        transform: translateX(0);
        padding: 0;
    }
    .left-aside-button {
        display: none;
    }
    .races-aside {
        width: 30vw !important;
    }
    .post-single-container .categories-aside {
        position: relative;
        transform: translateX(0);
        background-color: transparent;
    }
}

@media(max-width: $beforetabletBreak) {
    .races-aside {
        width: 50vw;
    }
}

