@import 'variables';

.modal-container {
    width: 100%;
    position: fixed;
    padding: 0 25px;
    background-color: transparent;
    top: 15vh;
    z-index: 2;
    > div {
        background-color: $ternaryColor;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
        max-width: 100%;
    }
}

.modal-header {
    padding: 1rem;
    background-color: $primaryColor;
    color: #FFF;
    border-radius: 0;
    border: 0;
    p {
        margin: 0;
        font-size: 1.25rem;
    }
}

.modal-content {
    padding: 1rem;
    color: #000;
    border-radius: 0;
}

@media(min-width: $desktopBreak) {
    .modal-container {
        max-width: 50%;
        left: 25%;
    }
}

@media(min-width: $tabletBreak) and (max-width: $beforeDesktopBreak) {
    
}
