@import 'variables';
@import 'login-form.scss';

.post-form {
    @extend .login-form;
}

.post-page-content {
    
    .btn-danger{
        left: 40px;
        position: absolute;
    }
}

.posts-list-container {
    width: 100%;
    .posts-list {
        width: 80%;
        margin: 2rem auto;
        list-style: none;
        padding: 0;
    }
    .list-left-content {
        width: 40%;
    }
    .list-title {
        font-size: 1.8rem;
    }
    .list-price {
        font-size: 1.3rem;
    }
    .list-right-content {
        width: 40%;
    }
    .posts-list-item {
        border: 1px solid #FFF;
        background-color: #0f0f0f;
    }
    .list-buttons button{
        position: absolute;
        bottom: -40px;
        border: 0;
    }
    .list-edit-button {
        right: 120px;
    }
    .list-image, .post-image{
        max-width: 100%;
    }
}

.go-to-post-page {
    top: -50px;
    left: 34px;
}

.post-data {

}

.post-comments {
    max-height: 65vh;
    border: 4px solid $primaryColor;
    background-color: $footerColor;
    color: $desertStorm;
}
.comments-title-container {
    height: 15%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.comments {
    height: 70%;
    overflow-y: scroll;
    border-top: 2px solid $ternaryColor;
    border-bottom: 2px solid $ternaryColor;
    .comment {
        padding: 10px 0;
        border-bottom: 1px solid;
    }
}
.comments-textarea-container {
    height: 15%;
    textarea {
        border: 0;
        background-color: $footerColor;
        padding: 15px 10px;
        overflow-y: scroll;
        color: $desertStorm;
        &::placeholder {
            color: #FFF;
        }
    }
}

@media(min-width: $desktopBreak) {
    
}

@media(min-width: $tabletBreak) and (max-width: $beforeDesktopBreak) {
    
}

@media(max-width:340px) {
    .post-page-content {
        
        .btn-secondary{
            margin: 0 6px !important;
        }
    }
}