@import 'variables';
@import 'login-form.scss';

.post-form {
    @extend .login-form;
}

.posts-list-container {
    width: 100%;
    .posts-list {
        width: 80%;
        margin: 2rem auto;
        list-style: none;
        padding: 0;
    }
    .list-left-content {
        width: 40%;
    }
    .list-title {
        font-size: 1.8rem;
    }
    .list-price {
        font-size: 1.3rem;
    }
    .list-right-content {
        width: 40%;
    }
    .posts-list-item {
        border: 1px solid #FFF;
        background-color: #0f0f0f;
    }
    .list-buttons button{
        position: absolute;
        bottom: -40px;
        border: 0;
    }
    .list-edit-button {
        right: 120px;
    }
    .list-image, .post-image{
        max-width: 100%;
    }
}

@media(min-width: $desktopBreak) {
    
}

@media(min-width: $tabletBreak) and (max-width: $beforeDesktopBreak) {
    
}