$primaryColor: #ed9121;
$secondaryColor: #1b1c1d;
$ternaryColor: #f7f7f7;

$borderColor: #d4d4d4;
$iconsColor:  #343a40;
$codeColor: #e83e8c;
$footerColor: #101114;

$desertStorm:#EEEEEC;

//Media breaks:
$tabletBreak: 768px;
$beforeDesktopBreak: 1040px;
$desktopBreak: 1020px;